<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  <h1>New game</h1>
  <div class="letter">
    <ul>
      <% @letters.each do |letter| %>
        <li><%= letter %></li>
      <% end %>
    </ul>

  </div>

  <form action="/score" method="post" class="game_input">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="text" name="word">
    <input type="hidden" name="letters" value="<%= @letters.join(',') %>">
    <input type="submit" value="Play">
  </form>

</body>
</html>
